# Connect to Postgres container
DATABASE_URL=

# Connect to Redis container
REDIS_URL=

# API Keys
AERODATABOX_API_KEY=
AVIASALES_API_TOKEN=
RAPIDAPI_HOST=

# Supabase Auth
SUPABASE_URL=
SUPABASE_JWT_SECRET=
